body {
}

.input-style {
}

@keyframes tilt-n-move-shaking {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(5deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}
@keyframes link-n-move-shaking {
    0% {form-style
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(5deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.form-style-under {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.form {
    position: relative;
    left: 36.7%;
    width: 500px;
    padding: 120px;
    border-radius: 30px;
    box-shadow: 0 4px 16px #6C804D;
    background: #F1EB90;
    transform: translateY(66px);
}

.background-images {
    z-index: -1;
}


.form-input,
.form-button {
    font-family: sans-serif;
    letter-spacing: 1px;
    font-size: 16px;
}

.form-title{
    text-align:center;
    margin: 0 0 32px 0;
    font-weight: normal;
}


.form-group{
    position:relative;
    margin-bottom:32px;
}

.form-label {
    position: absolute;
    top: 0;
    left: 0;
    color: #9A4444;
    transition: 0.3s;
    pointer-events: none;
}

.form-input:focus {
    border-bottom: 1px solid #EC8F5E;
}

.form-input {
    width: 100%;
    padding: 0 0 10px 0;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #9A4444;
    outline: none;
    transition: 0,3s;
}

.form-button {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    color: #F1EB90;
    background-color: #EC8F5E;
    cursor:pointer;
    font-weight: bold;
    transition: 0.3s;
}

    .form-button:focus,
    .form-button:hover {
        animation: tilt-n-move-shaking 0.25s forwards;
    }



.form-input:focus ~ .form-label {
    top: -18px;
    font-size: 12px;
    color: #EC8F5E;
}
.form-input:not(:placeholder-shown) ~ .form-label {
    top: -18px;
    font-size: 12px;
}

.registr-text {
    position: relative;
    margin-left: 177px;
    top: -30px;
    color: #EC8F5E;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    transition: color 0.3s;
}

    .registr-text:focus,
    .registr-text:hover {
        color: #EC8F5E;
        animation: tilt-n-move-shaking 0.25s forwards;
    }





.png-fon5 {
    width:4%;
    position: absolute;
    left: 7%;
    transform:rotate(30deg);
    bottom: 9%;
}

.png-fon7 {
    width: 2%;
    position: absolute;
    left: 5%;
    transform: rotate(30deg);
    top: 27%;
}

.png-fon10 {
    width: 4%;
    position: absolute;
    right: 15%;
    transform: rotate(30deg);
    top: 27%;
}

.png-fon8 {
    width: 14%;
    position: absolute;
    right: 5%;
    transform: rotate(30deg);
    bottom: 7%;
}

.png-fon9 {
    width: 7%;
    position: absolute;
    right: 17%;
    transform: rotate(-30deg);
    bottom: 49%;
}

.png-fon6 {
    width: 10%;
    position: absolute;
    left: 10%;
    transform: rotate(-30deg);
    bottom: 39%;
}


.png-fon4 {
    width: 19%;
    position: absolute;
    left: 23%;
    bottom: 10%;
    z-index: -1;
    //transform: rotate(15deg);
}
.png-fon {
    width: 15%;
    left: 58%; /* Измените значение в соответствии с вашими потребностями */
    margin-top: -45%;
    z-index: 123456789;
    transform: scaleX(-1);
    position: relative; /* Добавьте это свойство */
}

.png-fon3 {
    width: 20%;
    position: absolute;
    left: 23%;
    top: 25%;
    //transform: rotate(137deg);
    transform: scaleX(-1);
    z-index: -1;
}

.png-fon2 {
    width: 15%;
    position: absolute;
    transform: rotate(-15deg);
    z-index: -1;
    right: 29%;
    top: 45%;
}


.png-fon5 {
    width: 4%;
    position: absolute;
    left: 7%;
    transform: rotate(30deg);
    bottom: 19%;
}

.png-fon7 {
    width: 2%;
    position: absolute;
    left: 5%;
    transform: rotate(30deg);
    top: 27%;
}

.png-fon10 {
    width: 4%;
    position: absolute;
    right: 15%;
    transform: rotate(30deg);
    top: 27%;
}

.png-fon8 {
    width: 10%;
    position: absolute;
    right: 5%;
    transform: rotate(30deg);
    bottom: 17%;
}

.png-fon9 {
    width: 7%;
    position: absolute;
    right: 17%;
    transform: rotate(-30deg);
    bottom: 49%;
}

.png-fon6 {
    width: 10%;
    position: absolute;
    left: 7%;
    transform: rotate(-30deg);
    bottom: 42%;
}


.png-fon4 {
    width: 19%;
    position: absolute;
    left: 23%;
    bottom: 22%;
    z-index: -1;
    //transform: rotate(15deg);
}