@{
    ViewData["Title"] = "Login";
}
<div class="NoProc">

<div class="background-images">
    <img src="~/image/klet.png" alt="EROR" class="png-fon2" />
    <img src="~/image/2.png" alt="EROR" class="png-fon3" />
    <img src="~/image/5.png" alt="EROR" class="png-fon4" />
    <img src="~/image/klet.png" alt="EROR" class="png-fon5" />

    <img src="~/image/klet.png" alt="EROR" class="png-fon6" />

    <img src="~/image/klet.png" alt="EROR" class="png-fon7" />

    <img src="~/image/klet.png" alt="EROR" class="png-fon8" />

    <img src="~/image/klet.png" alt="EROR" class="png-fon10" />
    <!-- Поместите сюда изображения с классами .png-fon2, .png-fon3, и другие -->
</div>

<form method="post" class="form">
    <h1 class="form-title title-style">Login</h1>
    <div class="form-group">
        <input type="text" class="form-input" id="login" placeholder=" " />
        <label for="login" class="form-label">Login</label>
    </div>
    <div class="form-group">
        <input type="text" class="form-input" id="password" placeholder=" " />
        <label for="password" class="form-label">Password</label>
    </div>



    <button class="form-button">Log in</button>
        <a class="registr-text" asp-area="" asp-action="Registr" asp-controller="Admin">Registration</a>
</form>
<img src="~/image/4.png" alt="EROR" class="png-fon" />
<!-- Поместите сюда остальные изображения с классами .png-fon, .png-fon4, и так далее -->
</div>
