@{
    ViewData["Title"] = "Registration";
}
<img src="~/image/klet.png" alt="EROR" class="png-fon2-reg" />

<img src="~/image/2.png" alt="EROR" class="png-fon3-reg" />
<img src="~/image/5.png" alt="EROR" class="png-fon4-reg" />

<img src="~/image/klet.png" alt="EROR" class="png-fon5-reg" />

<img src="~/image/klet.png" alt="EROR" class="png-fon6-reg" />

<img src="~/image/klet.png" alt="EROR" class="png-fon7-reg" />

<img src="~/image/klet.png" alt="EROR" class="png-fon8-reg" />

<img src="~/image/klet.png" alt="EROR" class="png-fon10-reg" />

<form method="post" class="form2">
    <h1 class="form-reg-title title-style">Registration</h1>
    <div class="form-group">
        <input type="text" class="form-input" id="name"  placeholder=" " />
        <label for="name" class="form-label">Name</label>
    </div>
    <div class="form-group">
        <input type="text" class="form-input"  id="surname" placeholder=" " />
        <label for="surname" class="form-label">Surname</label>
    </div>
    <div class="form-group">
        <input type="text" class="form-input" id="number"  placeholder=" " />
        <label for="number" class="form-label">Phone number</label>
    </div>
    <div class="form-group">
        <input type="text" class="form-input" id="mail"  placeholder=" " />
        <label for="mail" class="form-label">E-mail</label>
    </div>
    <div class="form-group">
        <input type="text" class="form-input" id="password" placeholder=" " />
        <label for="password" class="form-label">Password</label>
    </div>
    <div class="form-group">
        <input type="text" class="form-input" id="passwordDub" placeholder=" " />
        <label for="passwordDub" class="form-label">Duplicate Password</label>
    </div>




    <button class="form-button" type="submit">Log in</button>
    <a class="registr-text" asp-area="" asp-page="/Registr">Registration</a>
</form>
<img src="~/image/4.png" alt="EROR" class="png-fon-reg" />